@model babylog.Models.DayLog

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
            <form asp-action="Index" method="post">
                <input type="hidden" asp-for="id" />  
                <table>
                    <tr>
                        <td>
                            Date : @ViewData["Date"]
                        </td>
                        <td>
                            Time : @ViewData["Time"]
                        </td>
                    </tr>
                    <tr bgcolor=@ViewData["MedicineColor"]>
                        <td>                
                            Medicine
                        </td>
                        <td> 
                            <input asp-for="medicine" Size="2"/>
                        </td>
                    </tr>
                </table> 
                <table>
                    <tr>
                        <td>
                            <b>Nap</b>
                            <table border="1" bgcolor=@ViewData["NapColor"]>                                
                                <tr>                                        
                                    <td>                
                                        W
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="wakeUpTime"/>                
                                    </td>
                                </tr>
                                <tr><td>1</td></tr>
                                <tr>
                                    <td>                
                                        S
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap1SleepTime"/>                
                                    </td>
                                </tr>
                                <tr>
                                    <td>                
                                        W
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap1WakeTime"/>                
                                    </td>
                                </tr>
                                <tr><td>2</td></tr>
                                <tr>
                                    <td>                
                                        S
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap2SleepTime"/>                
                                    </td>
                                </tr>
                                <tr>
                                    <td>                
                                        W
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap2WakeTime"/>                
                                    </td>
                                </tr>
                                <tr><td>3</td></tr>
                                <tr>
                                    <td>                
                                        S
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap3SleepTime"/>                
                                    </td>
                                </tr>
                                <tr>
                                    <td>                
                                        W
                                    </td>
                                    <td> 
                                        <input type="time" asp-for="nap3WakeTime"/>                
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <b>Feed</b>
                            <table  border="1" bgcolor=@ViewData["FeedColor"]>
                                @for (int i = 0; i < 9; i ++)
                                {
                                    <tr>
                                        <td><input type="time" asp-for="feedTimes[@i]"/></td>
                                        <td>
                                            <select asp-for="feedTypes[@i]">
                                                <option value=""></option>
                                                <option value="Mother">Mother</option>
                                                <option value="Formula">Formula</option>
                                                <option value="Mother">Breakfast</option>
                                                <option value="Formula">Lunch</option>
                                                <option value="Formula">Snacks</option>
                                            </select>
                                        </td>
                                        <td><input asp-for="feedQuantities[@i]" Size="1"/></td>
                                    </tr>
                                }
                            </table>                            
                        </td>
                        <td>
                            <b>Diaper</b>
                            <table  border="1" bgcolor=@ViewData["DiaperColor"]>
                                @for (int i = 0; i < 9; i ++)
                                {
                                <tr>
                                    <td>
                                        <input type="time" asp-for="diaperTimes[@i]"/>
                                    </td>
                                    <td>
                                        <select asp-for="diaperTypes[@i]">
                                            <option value=""></option>
                                            <option value="Pee">Pee</option>
                                            <option value="Poo">Poo</option>
                                        </select>
                                    </td>
                                </tr>
                                }                               
                            </table>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Save"  />
            </form>
        
    <p>log: @ViewData["log"]</p>
</div>