@model babylog.Models.DayLog

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Index" method="post">
        <input type="hidden" asp-for="id" />
        <table>
            <tr>
                <td>                
                    <label asp-for="medicine"></label>
                </td>
                <td> 
                    <input asp-for="medicine"/>               
                </td>
                <td>   
                    <input type="submit" value="Save"  />             
                </td>
            </tr>
        </table>
    </form>
    <p>log: @ViewData["log"]</p>
</div>